:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --paper: #d5d5d5;
    --green: #9099A2;
    --blue: #6D7993;
    --purple: #96858F;
  }

  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-between;
  }

  p {
    color: var(--blue);
  }

  .content-container {
    background-color: var(--paper);
    padding: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 3px;
  }

.rule-text{
    text-align: center;
    padding: 8px;
    margin: 5px;
  }
  
  button {
    background-color: var(--purple);
    color: var(--paper);
    font-size: 20px;
    border-radius: 3px;
    
  }